@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 800px;
    background-image:url("../images/KARABURUN\ back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
        
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
  
}

/*nav*/


nav{
    margin-bottom: auto;
    width: 100%;
    height: 70px;
    background-image: url(../images/header\ back.jpeg);
    border-radius: 0% 0% 40% 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




nav ul{
    margin: auto;
    width: 80%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start ;
}

nav ul a{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    
} 
nav ul li{
    width: 110px;
    height: 30px;
    text-align: center;
}
nav ul li :hover{
    padding: 7px;
    transform: rotate(360deg);
    border-radius: 10px 10px;

}
/*Container-00 with readmore*/
.container-0{
    height: 290px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.readmore{
    position: absolute;
    height: 30px;
    width: 100px;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    background-color: #b7d992;
    border: none;
    border-radius: 8px 12px;
    text-decoration: none;
    list-style-type: none;
    line-height: 40px;
    color: black;
    margin-bottom: 300px;
}
a.readmore{
    width: 130px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    
    
}

#titulli{
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 37px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    margin-bottom: 600px;

}
/*main aajhjahsjhsfjhajsdfhjashfjshflkshfjhsjfhsdjfhdjsfhjsfjksjfhsd
afhlajkshfjhsaf
asdjhfkljsfhjks
ajdhsfkjlashfjs
djshfklajsfh*/
body{
    background-image: url(../images/elegant-white-texture-background_23-2148431731.jpg);
background-size: cover;
}
main{
width: 100%;
height: 100%; 
margin: 0% auto;


}
.newsection, .newsection1, .newsection2,.newsection3,
.newsection4,.newsection5,.newsection6
,.newsection7

{
    
    width: 100%;
    height: 450px;
    margin: auto;
    display: grid;
    grid-template-rows:400px 500px;
    grid-template-columns:400px 500px;
    gap: 100px ;
    justify-content: center;
    

}
main{
    background-image: url(../images/1234.jpeg);
    background-size: cover;
}
main img{
    width: 370px;
    height: 270px;
    border-radius: 20%;
    filter: grayscale(100%);
    transition: 1s all ease-out;
}
img:hover{
    filter: grayscale(0%);
    padding: 15px;
}


.container-1{
margin-top: 100px;
}

.container-2{
    margin-top: 100px;
    padding: 20px;
    ;
}
.container-2 p{
    padding: 10px 0px;


}
.container-2 .readmore{
    background-color: black;
    color: white;
    text-transform: small;
    
    
}