*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 70px;
   
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color:rgb(216, 231, 216);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav{
    position: fixed;
    z-index: 1;
    margin-bottom: 300px;
    width: 100%;
    height: 70px;
    background-image: url(../images/Contact/download.jfif);
    background-size: cover;
    opacity: 1;
   
}


nav ul{
    margin: auto;
    width: 80%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start ;
}

nav ul a{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    
} 
nav ul li{
    width: 110px;
    height: 30px;
    text-align: center;
    
}
nav ul li :hover{
    padding: 7px;
    background-color: beige;
    transform: rotate(360deg);
    border-radius: 10px 10px;

}
/*main contact*/
main {
    background-image: url(../images/Contact/tumblr_oiwyt6xLk11tf8vylo1_1280.png);
    background-size: cover;
    opacity: 0.9;
 
}
 h1{
    font-family: 'Courgette', cursive;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 37px;
}
main span{
    font-family: 'Courgette', cursive;
    font-size: 20px
    ;
}
.container{
    width: 80%;
    height: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 300px) ;
    justify-content: center;
    gap: 10px;
    color: white;
}
.contact{
    width: 70%;
    margin-top: 30px;
    height: 100px;
}
.contact h1{
    margin-top: 30px 0 0 50%;
    

}


.contact-1{
    margin-top: 30px;
    border: 3px solid rgb(255, 255, 255);
    
    
    
}

.contact-1 h1{
margin-left: 50px;
margin-bottom: 20px;
font-size: 26px;
}
.contact-1 span{
margin-left: 1px;
font-size: 16px;
}
.contact-1 img{
margin-left: 50px;
margin-top: 12px;
}
/*contact2*/
.contact-2{
    padding: 10px;
 border: 3px dashed rgb(255, 255, 255);
 height: 240px;
 
}
.contact-2 h1{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 20px;

}

.contact-2 span{
    margin-left: 5px;
    font-size: 20px;
    }
.contact-2 img{ 
    margin-left: 5px;
    margin-top: 4px;
}
.contact-2 button{
    margin: 20px;
    margin-left: 50px;
    width: 70px;
    height: 3pc;
    border: 3px solid rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Courgette', cursive;
    background-color: transparent;

}
button:focus{
    outline: none;
}

/*contact3*/
.contact-3{
    margin-top: 100px;
 border: 3px solid rgb(255, 255, 255);
 height: 200px;
}

.contact-3 h1{
    font-size:x-large;

}

.contact-3 span{
    margin-left: 1px;
    font-size: 20px;
    }
.contact-3 img{ 
    margin-left: 10px;
    margin-top: 12px;
}
.contact-3 button{
    margin: 20px;
    margin-left: 50px;
    width: 70px;
    height: 3pc;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);

}
/*contact4*/
.contact-4{
 border: 3px solid rgb(255, 255, 255);
 height: 450px;
 grid-column: 1/span 2;
 grid-row: 2/span 4;
}
form{
    display: flex;
    flex-direction: column;


}
form span{
    margin: 10px 0px;
}
form input, textarea{
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 5px solid white;
    animation: input 2.4s ease-in-out; 
    margin-left: 20px;
}
@keyframes input {
    from {
        transform: scale(0);
        border-radius:0px;
    }
    to {
        transform: scale(100%);
    }
    
}
form input,textarea{
    border-radius: 50px;
}
form label{
    margin: 10px 0 15px 15px; 
    
}
textarea:focus{
    outline: none;
}
input:focus
{
    border: 0px;
outline: none;
}
form textarea{
    overflow: hidden;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}


/*
Footer

*/
footer{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top:  30px;;
}
.footer-content{

display: flex;
flex-flow: row wrap;

}
.footer-1,
.footer-2,
.footer-3{
    width: 30%;
    height: 200px;
    margin: 0 auto;
}

.footer-2 img{
  width: 74px;
    height: 74px;
    
    display:inline-block;
}


hr{
    margin: 15px auto;
    width: 80%;

}.footer-1 img{
    margin: 50px 30px  ;
    width: 160px;
    height: 72px;
}


.footer-2 img{
    margin: 50px 30px  ;
    width: 42px;
    height: 42px;
}

.footer-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Courgette', cursive;
}
.footer-3 address{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 16px;
    color: white;
}
.footer-3 address a{
   text-decoration: none;
   font-weight: bold;
   font-size: 17px;
}







.footer-sponsored{
    width: 90vw;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.footer-sponsored h1{
    text-align: center;
    margin: 5px;
    font-family: 'Courgette', cursive;
    color: white;
}
.sponsors{
    width: 70%;
    margin: 0 auto;

    display: flex;
}
.sponsors img{
    justify-content: space-around;
    margin:0% auto;
    border-radius: 40px;
}

@media only screen and (max-width: 600px) {
    *{
        overflow-x: hidden;
    }
    header{
        position: relative;
        min-width: 370px;
        max-width: 590px !important;
    }
    nav ul{
        margin: auto;
        width: 80%;
        justify-content:flex-start;
        align-items:center;
    }
    nav{
        width: 20%;
        display: flex;
        justify-content: flex-start;
    }
    
    nav ul a{
        font-family: 'Roboto Slab', serif;
        text-decoration: none;
        font-size: 10px
        ;
        color: black;
        text-transform: uppercase;
        
    } 
    nav ul li{
        width: 50px;
        margin: 0 4px;
    }







.container{
    min-width: 370px;
    max-width: 610px;
    height: 1300px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(auto, 150px);
    grid-template-columns: repeat(1, auto) ;
    justify-content: center;
    gap: 10px;
    color: white;
}
.contact{
    width: 70%;
    margin-top: 30px;
    height: 100px;
}
.contact h1{
    margin-top: 30px 0 0 50%;
    font-size: 22px;    

}


.contact-1{
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255);
    height: 310px;
}

.contact-1 h1{
margin-left: 50px;
margin-bottom: 20px;
font-size: 17px;
}

/*contact2*/
.contact-2{
    padding: 10px;
 border: 1px dashed rgb(255, 255, 255);
 height: 320px;
 
}
.contact-2 h1{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 17px;

}

.contact-2 span{
    margin-left: 5px;
    font-size: 14px;
    }



/*contact3*/
.contact-3{
    margin-top: 10px;
 border: 1px solid rgb(255, 255, 255);
 height: 200px;
 width: 100%;
}

.contact-3 h1{
    font-size:17px;
}
.contact-3 span{
    margin-left: 1px;
    font-size: 14px;
    }

.contact-3 button{
    margin: 20px;
    margin-left: 50px;
    width: 100px;
    height: 30px;
}
/*contact4*/
.contact-4{
 border: 1px solid rgb(255, 255, 255);
 height: 450px;
}

form span{
    margin: 10px 0px;
    font-size: 14px;
}
.contact-4 h1{
    font-size: 17px;
}

    footer{
        overflow-x:hidden !important ;
        width: 590px;        
        height: auto;
    }
    .footer-1,
    .footer-2,
    .footer-3{
        width: 18%;
        height: 200px;
        margin: 10px 5px;
    }
    
    .footer-2 img{
      width: 14px;
        height: 174px;
    }
  .footer-1 img{
        margin: 50px 30px  ;
        width: 90px;
        height: 23px;
    }
    
    
    .footer-2 img{
        margin: 54px 2px 0px 0px  ;
        width: 22px;
        height:22px;
    }
    
    .footer-title{
        font-size: 17px;
    }
    
    
}

@media (min-width: 600px) and (max-width: 991.98px)  {
    *{
        overflow-x: hidden !important;
    }
    header{
        position: relative;
        width: 100%;
    }
    nav ul{
        margin: auto;
        width: 80%;
        justify-content:flex-start;
        align-items:center;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    nav ul a{
        font-family: 'Roboto Slab', serif;
        text-decoration: none;
        font-size: 18px
        ;
        color: black;
        text-transform: uppercase;
        
    } 
    nav ul li{
        width: 100px;
        margin: 0 4px;
    }




    .container{
        overflow:hidden !important ;
        height: 1300px;
        margin: 0 auto;
        grid-template-rows: repeat(8, 150px);
        grid-template-columns: repeat(2, auto) ;
    }
 
    .contact-1{
        margin-top: -150px;
        border: 1px solid rgb(255, 255, 255);
        height: 310px;
    }
    
    /*contact2*/
    .contact-2{
      margin-top: -150px;
    }
 
   

    footer{
        overflow-x:hidden !important ;
        min-width: 700px;        
        height: auto;
    }
    .footer-1,
    .footer-2,
    .footer-3{
        width: 18%;
        height: 200px;
        margin: 10px 5px;
    }
    
    .footer-2 img{
      width: 14px;
        height: 174px;
    }
  .footer-1 img{
        margin: 50px 30px  ;
        width: 90px;
        height: 23px;
    }
    
    
    .footer-2 img{
        margin: 54px 2px 0px 0px  ;
        width: 22px;
        height:22px;
    }
    
    .footer-title{
        font-size: 17px;
    }
    
    
}   


