*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color:rgb(216, 231, 216);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav{
    position: fixed;
    z-index: 1;
    margin-bottom: 300px;
    width: 100%;
    height: 70px;
    background-image: url(../images/header\ back.jpeg);
    border-radius: 0% 0% 40% 40%;
    background-size: cover;
}




nav ul{
    margin: auto;
    width: 80%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start ;
}

nav ul a{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
} 
nav ul li{
    width: 110px;
    height: 30px;
    text-align: center;
}
nav ul li :hover{
    padding: 7px;
    background-color: rgb(247, 247, 247);
    transform: rotate(360deg);
    border-radius: 10px 10px;

}





/*Main e eksploro*/
main{
    width: 90%;
    background-color:#f2f2f2;
    margin: 0% auto;

    display: grid;
    grid-template-columns: repeat(1,945px);
    grid-template-rows: repeat(8,945px);
    grid-gap: 5px;
    justify-content:center;
    gap: 10px;
    line-height: 30px !important;
    

}
.container{
    border: 1px solid black;
    
    
}
span{
    display: flex;
}
.container span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.3s;
}
.container:hover span{
    margin-left: 0%;
    border-radius: 8px;
    opacity: 1;
}
.container p{
    padding:0% 10px 0px 10px;
    margin-top: 40px;
}
.container img{
    width: 945px;
    height: 500px;
}

