
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 70px;
}

.nav-bar{
    width: 100%;
    height: 70px;
    background-color:rgb(216, 231, 216);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    background-image: url(../images/header\ back.jpeg);
    border-radius: 0% 0% 10% 10%;
    background-size: cover;

}
nav ul{
    margin: auto;
    width: 80%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start ;
}

nav ul a{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
} 
nav ul li{
    width: 110px;
    height: 30px;
    text-align: center;
}
nav ul li :hover{
    padding: 7px;
    background-color: beige;
    transform: rotate(360deg);
    border-radius: 10px 10px;
}
.eksploro{
    width: 100%;
    height: 100%;
    background-color: #dde8ed;
    margin: 0% auto;

    display: grid;
    grid-template-columns: repeat(4,310px);
    grid-template-rows: repeat(auto,300px);
    grid-gap: 5px;
    justify-content:center;
    

}

body{
}
.eksploro img{
    width: 260px;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 29px;
    display: grid;
}
span {
    text-transform: uppercase;
    font-weight: bold;
  
}

.eks1 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.7s;
}
.eks1:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 3px 6px;
    border-radius: 16px 0px 4px 0px ;
    opacity: 1;
}
.eks2 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks2:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}

.eks3 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks3:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}


.eks4 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks4:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks5 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks5:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks6 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks6:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks7 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks7:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks8 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks8:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks9 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks9:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks10 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks10:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks11 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks11:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}

.eks12 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks12:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks13 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks13:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks14 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks14:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}
.eks15 span{
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.eks15:hover span{
    margin-left: 0%;
    background-color: #b4d1e2;
    padding: 5px 8px;
    border-radius: 10px 8px;
    opacity: 1;
}

/*
Footer

*/
footer{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top:  30px;;
}
.footer-content{

display: flex;
flex-flow: row wrap;

}
.footer-1,
.footer-2,
.footer-3{
    width: 30%;
    height: 200px;
    margin: 0 auto;
}

.footer-2 img{
  width: 74px;
    height: 74px;
    
    display:inline-block;
}


hr{
    margin: 15px auto;
    width: 80%;

}.footer-1 img{
    margin: 50px 30px  ;
    width: 160px;
    height: 72px;
}


.footer-2 img{
    margin: 50px 30px  ;
    width: 42px;
    height: 42px;
}

.footer-title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Courgette', cursive;
}
.footer-3 address{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 16px;
    color: white;
}
.footer-3 address a{
   text-decoration: none;
   font-weight: bold;
   font-size: 17px;
}







.footer-sponsored{
    width: 90vw;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.footer-sponsored h1{
    text-align: center;
    margin: 5px;
    font-family: 'Courgette', cursive;
    color: white;
}
.sponsors{
    width: 70%;
    margin: 0 auto;

    display: flex;
}
.sponsors img{
    justify-content: space-around;
    margin:0% auto;
    border-radius: 40px;
}



@media only screen and (max-width: 600px) {
    *{
        overflow-x: hidden !important;
    }
    header{
        position: relative;
        min-width: 370px;
        max-width: auto !important;
    }
    nav ul{
        margin: auto;
        width: 80%;
        justify-content:flex-start;
        align-items:center;
    }
    nav{
        width: 20%;
        display: flex;
        justify-content: flex-start;
    }
    
    nav ul a{
        font-family: 'Roboto Slab', serif;
        text-decoration: none;
        font-size: 10px
        ;
        color: black;
        text-transform: uppercase;
        
    } 
    nav ul li{
        width: 50px;
        margin: 0 4px;
    }
    .eksploro{
        width: auto
        ;
        height: auto;
        background-color: #dde8ed;
        margin: 0% auto;
    
        display: grid;
        grid-template-columns: repeat(1,310px);
        grid-template-rows: repeat(auto,300px);
        grid-gap: 5px;
        justify-content:center;
    }
    .eksploro img{
        width: 200px;
        height: 160px;
        margin-top: 10px;
        margin-bottom: 29px;
        display: grid;
    }
    footer{
        overflow-x:hidden !important ;
        width: 600px;        
        height: auto;
    }
    .footer-1,
    .footer-2,
    .footer-3{
        width: 18%;
        height: 200px;
        margin: 10px 5px;
    }
    
    .footer-2 img{
      width: 14px;
        height: 174px;
    }
  .footer-1 img{
        margin: 50px 30px  ;
        width: 90px;
        height: 23px;
    }
    
    
    .footer-2 img{
        margin: 54px 2px 0px 0px  ;
        width: 22px;
        height:22px;
    }
    
    .footer-title{
        font-size: 17px;
    }
    
    
}

@media (min-width: 600px) and (max-width: 991.98px)  {

    *{
        overflow-x: hidden !important;
    }
    header{
        position: relative;
        width: 100%;
    }
    nav ul{
        margin: auto;
        width: 80%;
        justify-content:flex-start;
        align-items:center;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    nav ul a{
        font-family: 'Roboto Slab', serif;
        text-decoration: none;
        font-size: 18px
        ;
        color: black;
        text-transform: uppercase;
        
    } 
    nav ul li{
        width: 100px;
        margin: 0 4px;
    }
    
    .eksploro{
        width: 100% ;
        height: auto;
        background-color: #dde8ed;
        margin: 0% auto;
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,300px);
        gap: 0px;
        justify-content:center;
    }
    
    .eksploro img{
        width: auto;
        height: 160px;
        margin-top: 0px;
        margin-bottom: 29px;
        display: grid;
    }

    footer{
        overflow-x:hidden !important ;
        min-width: 00px;        
        height: 900px;
    }
    .footer-1,
    .footer-2,
    .footer-3{
        width: 18%;
        height: 200px;
        margin: 10px 5px;
    }
    
    .footer-2 img{
      width: 14px;
        height: 174px;
    }
  .footer-1 img{
        margin: 50px 30px  ;
        width: 90px;
        height: 23px;
    }
    
    
    .footer-2 img{
        margin: 54px 2px 0px 0px  ;
        width: 22px;
        height:22px;
    }
    
    .footer-title{
        font-size: 17px;
    }
    
    
}   


